<% provide(:title, "About")%>

<div class="container">
  <div class="row">
    <div class="col-md-12 m-b-100"> 
      <div class="card w-100">
        <div class="card-block">
          <h2 class="card-title">About Agentify</h2> <hr>
          <p class="card-text text-muted">
            Agentify is Nigeria's first and fastest growing online platform that connects people with verified agents all over Nigeria.
          </p>
          <p class="card-text text-muted">
            Everyday, we are faced with the problems of fake agents duping people of their hard earned money and hence we decided to fix that and enable people deal with only verified agents on our platform.
          </p>
          <p class="card-text text-muted">
            We have made using Agentify very simple; When you sign up as an Agent, we take you through a verification process before onboarding you on our platform to enable only those genuine appear when searched for. For other users, you don't need to create an account. All you need to do is search for an agent in your current location or search by an agent's name. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>