<% provide(:title, "Contact")%>

<div class="container m-t-14">
  <div class="row">
    <div class="col-md-6 offset-md-3 m-b-100"> 
      <div class="card w-100">
        <div class="card-block">
          <h2 class="card-title">Contact Information</h2>
          <p class="card-text">
            +234 (0) 811 887 4955 <br> +234 (0) 80 681 20 887
          </p>
          <p class="card-text lead">
            <a href="mailto:support@agentify.org">support@agentify.org</a>
          </p>
          <p class="card-text">
            <a href="https://www.twitter.com/agentify"> <i class="fa fa-twitter fa-fw"></i> </a>
            <a href="https://www.facebook.com/agentify"> <i class="fa fa-facebook fa-fw"></i> </a>
            <a href="https://www.instagram.com/agentify"> <i class="fa fa-instagram fa-fw"></i> </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>