<% provide(:title, "Privacy Policy")%>

<div class="container">
  <div class="row m-t-14">
    <div class="col-md-12">
      <h1 class="text-center agentify-color">Privacy Policy</h1> <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center text-uppercase">Collection and use of personal information</h4>
      <p class="text-muted">
        You can visit our platform without revealing any personal information. However, Agentify requires you provide certain personal information if you wish to sign up your business or agency.
        Where required, this information may include your personal contact information and/or your business contact information. Agentify will use this information to reply to your inquiries, to provide you with requested products and services, to approve your member's account, and to contact you regarding new products and services. 
        By accessing the services of Agentify and voluntarily providing us with the requested personal information, you consent to the collection and use of the information in accordance with this privacy policy.
      </p>

      <h4 class="text-center text-uppercase">Collection and Use of Non-Personal Information</h4>
      <p class="text-muted">
        Agentify automatically receives and records non-personal information on our server logs from your browser including your internet protocol address, the kind of browser or computer you used, date and time of your visits, State or Country from which you accessed the site from, cookie information and the page you requested. Agentify may use this information to customize the advertising and content you see and to fulfill your requests for certain products and services. However, Agentify does not connect this non-personal data to any personal information collected from you.
        Agentify also allows third party companies that are presenting advertisements on some of our pages to set and access their cookies on your computer. Again, these cookies are not connected to any personal information. Third party cookie usage is subject to their own privacy policies, and Agentify assumes no responsibility or liability for this usage.
      </p>
      <hr>
      <p class="text-muted">
        For questions or suggestions about our privacy or your personal enquiries, refer to our <%= link_to 'Contacts directory', contact_path %>
      </p>
    </div>
  </div>
</div>