<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-4">Terms of Service</h1> <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        These Terms of Service ("Terms") govern your access and use of Agentify ("Agentify", "we" or "our") websites, services, and applications (collectively the "Service"). Your access to and use of the service is conditioned in your acceptance of and compliance with these Terms of Service. These terms applies to all visitors, users, agents and others who access or make use of this service or platform.
      </p>
      
      <h4 class="text-center text-uppercase">Your use of the service</h4>
      <p class="text-muted">
        By accessing or using the Service you agree to be bound by these Terms. If you are using the Service on behalf of an organization or entity ("Organization"), then you are agreeing to these Terms on behalf of that Organization and you represent and warrant that you have the authority to bind the Organization to these Terms. In that case, "you" and "your" refers to you and that Organization.
      </p>
      <p class="text-muted">
        You may use the Service only if you can form a binding contract with Agentify, and only in complaince with these Terms and all applicable local, state, nation, and international laws, rules and regulations. The Service may change from time to time as we evolve, refine, or add more features to the platform, often without prior notice to you. In addition, Agentify may temporarily or permanently stop providing the Service, or any features within the Service to you or to users generally and may not be able to provide you with prior notice.
      </p>

      <h4 class="text-center text-uppercase">Collection and use of personal information</h4>
      <p class="text-muted">
        You can visit our platform without revealing any personal information. However, Agentify requires you provide certain personal information if you wish to sign up your business or agency.
        Where required, this information may include your personal contact information and/or your business contact information. Agentify will use this information to reply to your inquiries, to provide you with requested products and services, to approve your member's account, and to contact you regarding new products and services. 
        By accessing the services of Agentify and voluntarily providing us with the requested personal information, you consent to the collection and use of the information in accordance with this privacy policy.
      </p>

      <h4 class="text-center text-uppercase">Collection and Use of Non-Personal Information</h4>
      <p class="text-muted">
        Agentify automatically receives and records non-personal information on our server logs from your browser including your IP address, cookie information and the page you requested. Agentify may use this information to customize the advertising and content you see and to fulfill your requests for certain products and services. However, Agentify does not connect this non-personal data to any personal information collected from you.
        Agentify also allows third party companies that are presenting advertisements on some of our pages to set and access their cookies on your computer. Again, these cookies are not connected to any personal information. Third party cookie usage is subject to their own privacy policies, and Agentify assumes no responsibility or liability for this usage.
      </p>

      <h4 class="text-center text-uppercase">ACCOUNT SECURITY</h4>
      <p class="text-muted">
        You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with Agentify or a third-party service. We encourage you to use “strong” passwords that use a combination of upper and lower case letters, numbers and symbols with your account. You agree not to disclose your password to any third party. Agentify cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements. You must notify Agentify immediately upon becoming aware of any breach of security or unauthorized use of your account.
      </p>

      <h4 class="text-center text-uppercase">Third-party links</h4>
      <p class="text-muted">
        The Service may have links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by us. We do not endorse or assume any responsibility for any of these third-party sites, information, materials, products, or services. If you access a third party website from the Service, you do so at your own risk, and you understand that these Terms and our Privacy Policy do not apply to your use of those sites. You expressly relieve Agentify from any and all liability arising from your use of any third-party website, service, or content and agree that your dealings with any third-party website, service, or content is only between you and such third parties. You agree that we are not responsible for any loss or damage of any sort in your dealings with such advertisers.
      </p>

      <h4 class="text-center text-uppercase">IMDEMNIFICATION</h4>
      <p class="text-muted">
        You agree to defend, indemnify and hold harmless Agentify and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from your use of and access to the Service, including any data or Content transmitted or received by you, any other party’s access or use of the Service with your username and password, or your violation of these Terms, applicable law, rule or regulation.
      </p>

      <h4 class="text-center text-uppercase">Questions or suggestions</h4>
      <p class="text-muted">
        For questions or suggestions about our terms or your personal enquires, refer to our <%= link_to 'Contacts directory', contact_path %>
      </p>
    </div>
  </div>
</div>