<h1>Hello, <%= @business.business_name %>.</h1>
<p>
  Your request to join Agentify has been approved.
</p>
<p>
  Kindly login to complete your business information through this link: <%= @url%>
</p>

<p>Thanks for joining and have a great day!</p>